<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtSphere-@ViewData["Title"]</title>
    <link href="~/NewFolder/Founder/image.png" rel="shortcut icon" type="image/x-icon" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>ArtSphere</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ArtistImages" asp-action="Index">Gallery</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Exhb" asp-action="Index">Exhibitions</a>
                        </li>
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AppRole" asp-action="Index">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="getAllUsers">Users</a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ArtistDetails">Artists</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        @if (User.IsInRole("Artist"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ArtistImages" asp-action="UserImages">Repository</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:lightgrey">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <h3>Art-Sphere Team</h3>
                    <p>
                        - Bhavesh Dave<br />
                        - Ayush Sharma<br />
                        - Diksha Dhar<br />
                        - Munot Gadale<br />
                        - Runal Pawar
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>Help</h3>
                    <ul>
                        <li>Shipping</li>
                        <li>Contact Us</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>ART-SPHERE</h3>
                    <p>
                        Immerse yourself in the world of artistic expression at our Art Gallery. We redefine elegance
                        with a curated collection that reflects timeless beauty, combining diverse artistic styles
                        from both local and global creators. Every visit to our gallery is an exploration of sophistication
                        and sentiment, where each piece is a celebration in itself. Join us in unveiling the art of
                        visual enchantment.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">ArtSphere &copy; 2024</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
