
<style>
    .founder-img:hover {
        transform: scale(1.1); /* Increase the image size on hover */
        transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    }
</style>


<section class="section-white mt-5">
    <div class="container text-center">
        <h1>About Art-Sphere</h1>
        <p>Discover the World of Art</p>
        <div class="abouttext">
            <h5>
                Art-Sphere is your gateway to a captivating world of artistic expression, where traditional and contemporary styles seamlessly converge.
                Immerse yourself in an extensive collection featuring over a thousand carefully curated artworks, blending the essence of local talent
                with globally acclaimed masterpieces. Our commitment is to provide you with a diverse selection that caters to a variety of artistic tastes.
                If you have a specific vision in mind, our dedicated team is ready to source it for you.
            </h5>
            <h5>
                With a heritage spanning three decades, we bring a wealth of credibility and expertise to fulfill your artistic desires. Whether you're
                seeking a single piece to adorn your space, building a collection for a special event, or exploring corporate orders, Art-Sphere is your
                comprehensive destination for all things art. Step into the enchanting world of Art-Sphere, where each piece is a timeless celebration of
                elegance and grace.
            </h5>
        </div>
    </div>
</section>

<img src="https://images.pexels.com/photos/69903/pexels-photo-69903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%" class="mt-5"/>

<section class="section-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-title">Meet the Founders</h2>
                <p class="section-subtitle mt-3">
                    Embark on a journey with the visionaries behind our brand. Our founders are dedicated to enriching your experience with a curated selection of exceptional artworks.
                </p>
            </div>

            <div class="about-section mt-5 mb-3">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-mf-12 col-12">
                            <div class="about-img">
                                <img src="~/NewFolder/Founder/diksha.jpg" alt="" class="img-fluid hover-effect founder-img" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                            <div class="about-text">
                                <h1>Diksha Dhar</h1>
                                <h5>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus ipsam ipsa blanditiis sequi asperiores maxime voluptatibus totam nihil labore reprehenderit numquam nulla eveniet dicta in officia, itaque, minus qui.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        
                        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                            <div class="about-text">
                                <h1>Munot Gadale</h1>
                                <h5>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus ipsam ipsa blanditiis sequi asperiores maxime voluptatibus totam nihil labore reprehenderit numquam nulla eveniet dicta in officia, itaque, minus qui.
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-mf-12 col-12">
                            <div class="about-img">
                                <img src="~/NewFolder/Founder/munot.jpg" alt="" class="img-fluid hover-effect founder-img" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-mf-12 col-12">
                            <div class="about-img">
                                <img src="~/NewFolder/Founder/bhavesh.png" alt="" class="img-fluid hover-effect founder-img" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                            <div class="about-text">
                                <h1>Bhavesh Dave</h1>
                                <h5>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus ipsam ipsa blanditiis sequi asperiores maxime voluptatibus totam nihil labore reprehenderit numquam nulla eveniet dicta in officia, itaque, minus qui.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        
                        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                            <div class="about-text">
                                <h1>Ayush Sharma</h1>
                                <h5>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus ipsam ipsa blanditiis sequi asperiores maxime voluptatibus totam nihil labore reprehenderit numquam nulla eveniet dicta in officia, itaque, minus qui.
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-mf-12 col-12">
                            <div class="about-img">
                                <img src="~/NewFolder/Founder/Ayush.jpg" alt="" class="img-fluid hover-effect founder-img" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-4 col-mf-12 col-12">
                            <div class="about-img">
                                <img src="~/NewFolder/Founder/runal.png" alt="" class="img-fluid hover-effect founder-img" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                            <div class="about-text">
                                <h1>Runal Pawar</h1>
                                <h5>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus ipsam ipsa blanditiis sequi asperiores maxime voluptatibus totam nihil labore reprehenderit numquam nulla eveniet dicta in officia, itaque, minus qui.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
